##################################################################
# mentalizr cli configuration
##################################################################

# ---
# server URL without any context path
# mandatory
# ---
server =

# ---
# Proxy server configuration
#
# proxy_server without any schema
# optional, no proxy invoked when no configuration found
# authentication to proxy performed only if proxy_user and 
# proxy_password configured.
# ---
# proxy_server = 192.168.99.99
# proxy_port = 8080

# proxy_user = joe
# proxy_password = secret

# ---
# Trust all certificates, even invalid ones
# optional, default = false
# ---
# trust_all = true
